<app-header></app-header>
<div class="main-content">
    <div class="header-content">
        <div class="person-detail-text">
            Person Details <div class=""></div>
        </div>
        <a class="add-button" routerLink="">
            <img src="../assets/plus.png" alt="Add Person Logo">Add Person
        </a>
    </div>
    <div class="table-main">
        <table class="table">
            <tr>
                <th>Fullname</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
                <th>Phone Number</th>
                <th></th>
            </tr>
            <tr *ngFor="let personData of personDetails" >
                <td>{{personData.fullName}}</td>
                <td>{{personData.address}}</td>
                <td>{{personData.city}}</td>
                <td>{{personData.state}}</td>
                <td>{{personData.zip}}</td>
                <td>{{personData.phoneNumber}}</td>
                <td></td>
                <td>
                    <img id="" src="../assets/delete.svg" alt="delete" (click)="remove(personData.id)">
                    <img id="" src="../assets/create.svg" alt="edit">
                </td>
            </tr>
        </table>
    </div>
</div>