<app-header></app-header>
<div class="main-content">
    <div class="header-content">
        <div class="person-detail-text">
            Person Details
        </div>

        <!-- Add button redirect to the add page for adding new person to the addressbook -->
        <a class="add-button" routerLink="/add">
            <img src="../assets/plus.svg" alt="Add Person Logo">Add Person
        </a>
    </div>
    <div class="table-main">
        <table class="table">
            <tr>
                <th>Fullname</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
                <th>Phone Number</th>
                <th></th>
            </tr>
            <tr *ngFor="let personData of personDetails" class="tr-style">
                <td>{{personData.fullName}}</td>
                <td>{{personData.address}}</td>
                <td>{{personData.city}}</td>
                <td>{{personData.state}}</td>
                <td>{{personData.zip}}</td>
                <td>{{personData.phoneNumber}}</td>
                <td></td>
                
                
                <td>
                    <!-- delete person from the list -->
                    <img id="{{personData.id}}" src="../assets/delete.svg" alt="delete" (click)="remove(personData.id)">
                    <!-- edit a existing person -->
                    <img id="{{personData.id}}" src="../assets/create.svg" alt="edit" (click)="update(personData)">
                </td>
            </tr>
        </table>
        <!-- <mat-table #table [dataSource]="dataSource">
            <ng-container *ngFor="let column of columns" [cdkColumnDef]="column.columnDef">
              <mat-header-cell *cdkHeaderCellDef>{{ column.header }}</mat-header-cell>
              <mat-cell *cdkCellDef="let row">{{ column.cell(row) }}</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table> -->
    </div>
</div>