.form-content {
    min-height      : calc(40% - 80px);
    background-color: white;
    display         : flex;
    justify-content : center;
    align-items     : center;
}

.form {
    width        : 66.2%;
    padding      : 20px 5px;
    background   : rgba(49, 124, 238, 0.932) 0% 0% no-repeat padding-box;
    box-shadow   : 0px 3px 6px white;
    border       : 1px solid #f5f5f5;
    border-radius: 8px 8px 1px 1px;
    opacity      : 1;
}

.form-head {
    font           : normal normal 29px/40px Roboto;
    letter-spacing : 0px;
    color          : white;
    text-transform : capitalize;
    opacity        : 0.8;
    padding-bottom : 20px;
    display        : flex;
    justify-content: center;
    align-content  : center;
}

.add-headder {
    padding: 5px 18px;
    cursor : pointer;
}

.row-content {
    display       : flex;
    flex-direction: row;
    margin-bottom : 10px;
    align-items   : center;
}


.label {
    min-width: 140px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.text {
    font-size  : 16px;
    color      : #42515f;
    opacity    : 1;
    font-family: Roboto;
}

.floatRight {
    float          : right;
    padding        : 5px 18px;
    cursor         : pointer;
    text-decoration: none;
    margin-left    : 20px
}

.example-full-width {
    width: 100%;
}

.padding-0 {
    padding-right: 0;
    padding-left : 0;
}

.form-form {
    width        : 55%;
    padding      : 40px 70px;
    background   : rgb(251, 253, 255) 0% 0% no-repeat padding-box;
    box-shadow   : 0px 3px 6px rgba(139, 126, 126, 0.555);
    border       : 1px solid #f5f5f5;
    border-radius: 1px;
    opacity      : 1;

}

.button {
    background-color: rgba(212, 211, 211, 0.897);
    width           : 7em;
    border-radius   : 4px;
    box-shadow      : rgb(119, 119, 119);
    opacity         : 0.9;
    font            : normal normal 20px/40px Roboto;
    color           : rgb(73, 72, 72);

}