<app-header></app-header>
<div>
    <div class="form-content ">
        <div class="form">

            <div class="form-head add-headder" fxFlex>{{"Person Address form" | uppercase }}</div>
            <div>
                <a class="floatRight" routerLink="/home">
                    <img src="../assets/cancel.jpeg" alt="cancel" class="img">
                </a>
            </div>
        </div>
    </div>
    <div class="row-content form-content">
        <form class="form-form" [formGroup]="personFormGroup" (ngSubmit)="onSubmit()">
            <div>
                <mat-label class="label text">Full Name</mat-label>
                <mat-form-field class="example-full-width" appearance="outline">
                    <input class="name-input" matInput placeholder="Your name" formControlName="fullName">
                    <mat-error>Name is required!! Name should start with capital latter and have minimum of 3 characters
                    </mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-label class="label text">Phone Number</mat-label>
                <mat-form-field class="example-full-width" appearance="outline">
                    <input class="phoneNo-input" matInput placeholder="Your phone Number" formControlName="phoneNumber">
                    <mat-error>Phone Number is required!!</mat-error>
                </mat-form-field>
            </div>


            <div>
                <mat-label class="label text">EmailId</mat-label>
                <mat-form-field class="example-full-width" appearance="outline">
                    <input class="emailId-input" matInput placeholder="Your phone Number" formControlName="emailId">
                    <mat-error>a valid emailId is required!!</mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-label class="label text">Address</mat-label>
                <mat-form-field class="example-full-width" appearance="outline">
                    <textarea matInput class="address-input" name="address" style="height:60px"
                        formControlName="address"></textarea>
                    <mat-error>Phone Number is required!!</mat-error>

                </mat-form-field>
            </div>

            <div fxLayout fxLayoutGap="25px">
                <div>
                    <h4 class="label text">City</h4>
                    <mat-form-field appearance="outline">
                        <mat-label>select city</mat-label>
                        <mat-select class="city-input" name="city" formControlName="city">
                            <mat-option value="kokrajhar">Kokrajhar</mat-option>
                            <mat-option value="kolkata">Kolkata</mat-option>
                            <mat-option value="hajipur"> Hajipur</mat-option>
                            <mat-option value="guwahati"> Guwahati</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <h4 class="label text">State</h4>
                    <mat-form-field appearance="outline">
                        <mat-label>select State</mat-label>
                        <mat-select class="state-input" name="state" formControlName="state">
                            <mat-option value="assam">Assam</mat-option>
                            <mat-option value="west B">West B</mat-option>
                            <mat-option value="rajasthan">Rajasthan</mat-option>
                            <mat-option value="hariana">Hariana</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div>
                    <h4 class="label text">Zip</h4>
                    <mat-form-field class="example-half-width" appearance="outline">
                        <input class="zip-input" matInput placeholder="" formControlName="zip">
                        <mat-error>Phone Number is required!!</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayoutGap="25px">
                <div fxLayout="row-reverse" fxFlex="70"><button mat-stroked-button type="submit"
                        class="button submitButton">Add</button></div>
                <div fxFlex="30"><button mat-stroked-button type="reset" class="resetButton button">Reset</button></div>
            </div>
        </form>
    </div>
</div>