<app-header></app-header>
<div>
    <div class="form-content ">
        <div class="form">
            <div class="form-head add-headder" fxFlex>{{"Person Address form" | uppercase }}</div>
            <div>
                <a class="floatRight" routerLink="/home">
                    <img src="../assets/cancel.jpeg" alt="cancel" class="img">
                </a>
            </div>
        </div>
    </div>

    <div class="row-content form-content">
        <form class="form-form" [formGroup]="personFormGroup" (ngSubmit)="onSubmit()">

            <!-- Input Name -->
            <div>
                <mat-label class="label text">Full Name</mat-label>
                <mat-form-field class="example-full-width" appearance="outline">
                    <input class="name-input" matInput placeholder="Your name" formControlName="fullName">
                    <mat-error *ngIf="checkError('fullName', 'required')">Name is required.</mat-error>
                    <mat-error *ngIf="checkError('fullName', 'pattern')">Name is invalid</mat-error>
                </mat-form-field>
            </div>

            <!-- Input Phone Number -->
            <div>
                <mat-label class="label text">Phone Number</mat-label>
                <mat-form-field class="example-full-width" appearance="outline">
                    <input class="phoneNo-input" matInput placeholder="Your phone Number" formControlName="phoneNumber">
                    <mat-error *ngIf="checkError('phoneNumber', 'required')">Phone number is required.</mat-error>
                    <mat-error *ngIf="checkError('phoneNumber', 'pattern')">Phone number is invalid</mat-error>
                </mat-form-field>
            </div>

            <!-- Input Email Id -->
            <div>
                <mat-label class="label text">EmailId</mat-label>
                <mat-form-field class="example-full-width" appearance="outline">
                    <input class="emailId-input" matInput placeholder="Your Email" formControlName="emailId">
                    <mat-error *ngIf="checkError('emailId', 'required')">email is required.</mat-error>
                    <mat-error *ngIf="checkError('emailId', 'email')">email is invalid</mat-error>
                </mat-form-field>
            </div>

            <!-- Input Address -->
            <div>
                <mat-label class="label text">Address</mat-label>
                <mat-form-field class="example-full-width" appearance="outline">
                    <textarea matInput class="address-input" name="address" style="height:60px"
                        formControlName="address"></textarea>
                        <mat-error *ngIf="checkError('address', 'required')">Address is required.</mat-error>
                </mat-form-field>
            </div>

            <div fxLayout fxLayoutGap="25px">
                <!-- Input State -->
                <div>
                    <h4 class="label text">State</h4>
                    <mat-form-field appearance="outline">
                        <mat-label>Select State</mat-label>
                    <mat-select (selectionChange)="onChangeState($event.source.value)" ngDefaultControl formControlName="state">
                        <mat-option *ngFor="let state of states" [value]="state">
                            {{state}}
                        </mat-option>
                    </mat-select>
                    </mat-form-field>
                </div>

                <!-- Input City -->
                <div>
                    <h4 class="label text">City</h4>
                    <mat-form-field appearance="outline">
                        <mat-label>select city</mat-label>
                        <mat-select class="city-input" name="city" formControlName="city" >
                         <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                

                <!-- Input Zip Code -->
                <div>
                    <h4 class="label text">Zip</h4>
                    <mat-form-field class="example-half-width" appearance="outline">
                        <input class="zip-input" matInput placeholder="" formControlName="zip">
                        <mat-error *ngIf="checkError('zip', 'required')">Zip is required.</mat-error>
                        <mat-error *ngIf="checkError('zip', 'pattern')">Zip is invalid</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div>
                <!-- Add button for add new person -->
                <div fxLayout fxLayoutGap="25px" *ngIf="router.url === '/add'; else editBlock">
                    <div fxLayout="row-reverse" fxFlex="70"><button mat-stroked-button type="submit"
                            class="button submitButton">Add</button></div>
                    <div fxFlex="30"><button mat-stroked-button type="reset" class="resetButton button">Reset</button>
                    </div>

                </div>
                <!-- edit button for edit person -->
                <ng-template #editBlock>
                    <div fxLayout fxLayoutGap="25px">
                        <div fxLayout="row-reverse" fxFlex="70">
                            <button mat-stroked-button type="submit" class="button submitButton">Edit</button>
                        </div>
                        <div fxFlex="30"><button mat-stroked-button type="reset" class="resetButton button"
                                routerLink="/home">Cancel</button>
                        </div>
                    </div>
                </ng-template>
            </div>
        </form>
    </div>
</div>